* {
    margin: 09px;
    padding: 18px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.header {
    background-image: url(../public/Banner\ Image.png);
    background-position: center;
    align-items: center;
    display: flex;
    height: 600px;
    width: 1320;
    color: white;
    flex-direction: column;
    justify-content: center;
    fill: 070211;
    position: relative;
    background-size: cover;
}

.banner {
    font-size: 25px;
    margin-bottom: 4px;
    height: 40px;
    width: 259px;
    position: 670px 227px;
    line-height: auto;
}

.banner-title {
    font-size: 70px;
    margin-bottom: 0px;
    font-weight: black;
    width: 632px;
    line-height: 90px;
}

.offer-title {
    color: red;
    font-size: 90px;
    margin-bottom: 10px;
    font-weight: bold;
    align-items: center;
    position: 642px 794px;
}

.offer-sub {
    color: red;
    align-items: center;
    margin-top: 10px;
    font-size: 25px;

}

.offer-subtitle {
    font-size: 45px;
    font-weight: bold;
}

.img {
    height: 500px;
    width: 802.9px;
}

.party {
    background-image: url(../public/Vectorrr.png);
    background-position: center;
    align-items: left;
    display: flex;
    height: 600px;
    width: 1320;
    color: white;
    flex-direction: column;
    justify-content: center;
    fill: 070211;
    position: relative;
    background-size: cover;

}

.party-title {
    font-size: 70px;
    font-weight: black;
    width: 632px;
    line-height: 90px;
    justify-content: flex-start;
    padding-left: 0px;
    height: 170px;


}

.party {
    text-align: left;
    padding-right: 15%;
}

.party-sub-title {
    padding-right: 0%;
    height: 60px;
    width: 697px;
}

.btn {
    padding-right: 50%;
}

.event-details {
    background-color: rgb(237, 219, 231);
    background-position: center;
    align-items: center;
    flex-direction: column;
    height: 482px;
    width: 1320px;
    justify-content: center;
    position: relative;
    display: flex;
    background-size: cover;
    border: none;
}

.button {

    background-color: red;
    border: none;
    padding: 14px 16px;
    border: none;
    border-radius: 5px;
    color: #FFF8F3;
    font-size: 20px;
}

* span {
    color: red;
}

.soon-title {
    text-align: center;

}

.soon {
    align-items: left;
}

.prgf {
    align-items: right;
}